{
  "openapi": "3.1.0",
  "x-stoplight": {
    "id": "qt2bcxlu8vy2u"
  },
  "info": {
    "title": "vision-mvp-v1",
    "version": "1.0",
    "summary": "Vision SNS MVP api v1"
  },
  "servers": [
    {
      "url": "https://stoplight.io/mocks/singapore-squad/be-api-spec/100729079",
      "description": "MockServer"
    },
    {
      "url": "http://localhost:8080",
      "description": "local"
    },
    {
      "url": "",
      "description": "Dev"
    }
  ],
  "paths": {
    "/v1/auth/signin": {
      "post": {
        "summary": "로그인",
        "operationId": "post-v1-auth-signin",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "$ref": "#/components/schemas/ResponseCode"
                    },
                    "message": {
                      "$ref": "#/components/schemas/ResponseMessage"
                    },
                    "data": {
                      "type": "string",
                      "description": "발급된 access token"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "data"
                  ]
                },
                "examples": {
                  "이메일 로그인 성공": {
                    "value": {
                      "code": 0,
                      "message": "성공",
                      "accessToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "로그인 후 토큰을 발급합니다.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "passwd": {
                    "type": "string"
                  }
                },
                "required": [
                  "email",
                  "passwd"
                ]
              },
              "examples": {
                "이메일 로그인 요청": {
                  "value": {
                    "email": "tester01@email.com",
                    "passwd": "test1234"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/tags": {
      "get": {
        "summary": "태그 조회",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "$ref": "#/components/schemas/ResponseCode"
                    },
                    "message": {
                      "$ref": "#/components/schemas/ResponseMessage"
                    },
                    "data": {
                      "type": "array",
                      "description": "태그 리스트",
                      "items": {
                        "$ref": "#/components/schemas/Tag"
                      }
                    }
                  }
                },
                "examples": {
                  "태그 리스트 조회 성공": {
                    "value": {
                      "code": 0,
                      "message": "성공",
                      "tags": [
                        {
                          "tagId": 1,
                          "tagName": "가지고싶은것"
                        },
                        {
                          "tagId": 2,
                          "tagName": "되고싶은것"
                        },
                        {
                          "tagId": 3,
                          "tagName": "가고싶은곳"
                        },
                        {
                          "tagId": 4,
                          "tagName": "하고싶은것"
                        },
                        {
                          "tagId": 5,
                          "tagName": "일상"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-tags",
        "description": "태그 조회",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "tagType",
            "description": "VISION: 비전, ARTICLE: 일상글"
          }
        ]
      },
      "post": {
        "summary": "태그 등록",
        "operationId": "post-v1-tags",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "$ref": "#/components/schemas/ResponseCode"
                    },
                    "message": {
                      "$ref": "#/components/schemas/ResponseMessage"
                    },
                    "data": {
                      "type": "integer",
                      "description": "등록된 tag의 id값"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "data"
                  ]
                },
                "examples": {
                  "비전 태그 등록 성공": {
                    "value": {
                      "code": 0,
                      "message": "성공",
                      "tagId": 90
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "description": "태그 등록",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "description": "Bearer token"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tagName": {
                    "type": "string",
                    "description": "태그명"
                  },
                  "tagType": {
                    "type": "string",
                    "description": "VISION(비전용), ARTICLE(일상글용)"
                  }
                },
                "required": [
                  "tagName",
                  "tagType"
                ]
              },
              "examples": {
                "비전 태그 등록": {
                  "value": {
                    "tagName": "string",
                    "tagType": "string"
                  }
                }
              }
            }
          },
          "description": ""
        }
      }
    },
    "/v1/visions": {
      "get": {
        "summary": "비전 목록 조회",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "$ref": "#/components/schemas/ResponseCode"
                    },
                    "message": {
                      "$ref": "#/components/schemas/ResponseMessage"
                    },
                    "data": {
                      "type": [
                        "string",
                        "array"
                      ],
                      "description": "비전 리스트",
                      "items": {
                        "$ref": "#/components/schemas/Vision"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-visions"
      },
      "post": {
        "summary": "비전 등록",
        "operationId": "post-v1-vision",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "$ref": "#/components/schemas/ResponseCode"
                    },
                    "message": {
                      "$ref": "#/components/schemas/ResponseMessage"
                    },
                    "data": {
                      "type": "integer",
                      "description": "등록된 비전의 id"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "data"
                  ]
                },
                "examples": {
                  "비전 등록 성공": {
                    "value": {
                      "code": 0,
                      "message": "성공",
                      "visionId": 101
                    }
                  }
                }
              }
            }
          }
        },
        "description": "비전 등록",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "contents": {
                    "type": "string"
                  },
                  "tagIds": {
                    "type": [
                      "array",
                      "integer"
                    ],
                    "items": {}
                  },
                  "imgUrl": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "비전 등록": {
                  "value": {
                    "title": "해외에서 두달 살기",
                    "contents": "하와이, 아이와 함께",
                    "tagIds": [
                      1,
                      10
                    ],
                    "imgUrl": "https://images.unsplash.com/photo-1648612153876-db4fd5ce1a64?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=927&q=80"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/visions/{visionId}": {
      "get": {
        "summary": "비전 단건 조회!",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "$ref": "#/components/schemas/ResponseCode"
                    },
                    "message": {
                      "$ref": "#/components/schemas/ResponseMessage"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Vision"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "data"
                  ]
                },
                "examples": {
                  "비전 조회 성공": {
                    "value": {
                      "code": 0,
                      "message": "성공",
                      "vision": {
                        "visionId": 77,
                        "title": "해외에서 두달 살기",
                        "contents": "하와이, 아이와 함께",
                        "tags": [
                          {
                            "tagId": 1,
                            "tagName": "하고싶은것"
                          },
                          {
                            "tagId": 10,
                            "tagName": "가족"
                          }
                        ],
                        "imgUrl": "https://content.skyscnr.com/m/41acfff761f8ea1a/original/GettyImages-519763361.jpg?resize=1800px:1800px&quality=100",
                        "createAt": "2022-10-19 14:43:25"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-vision",
        "description": "비전 상세 페이지",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          }
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "visionId",
          "in": "path",
          "required": true,
          "description": "비전의 id값"
        }
      ]
    },
    "/healthcheck": {
      "get": {
        "summary": "\bHealth Check",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "$ref": "#/components/schemas/ResponseCode"
                    },
                    "message": {
                      "$ref": "#/components/schemas/ResponseMessage"
                    }
                  }
                },
                "examples": {
                  "성공": {
                    "value": {
                      "code": 0,
                      "message": "성공"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-healthcheck",
        "description": "Health Check용"
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "title": "User",
        "type": "object",
        "description": "",
        "examples": [
          {
            "id": 142,
            "firstName": "Alice",
            "lastName": "Smith",
            "email": "alice.smith@gmail.com",
            "dateOfBirth": "1997-10-31",
            "emailVerified": true,
            "signUpDate": "2019-08-24"
          }
        ],
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the given user."
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date",
            "example": "1997-10-31"
          },
          "emailVerified": {
            "type": "boolean",
            "description": "Set to true if the user's email has been verified."
          },
          "createDate": {
            "type": "string",
            "format": "date",
            "description": "The date that the user was created."
          }
        },
        "required": [
          "id",
          "firstName",
          "lastName",
          "email",
          "emailVerified"
        ]
      },
      "ResponseCode": {
        "title": "ResponseCode",
        "x-stoplight": {
          "id": "594lp3cglk3lh"
        },
        "type": "integer",
        "description": "응답 코드\n\n0 (성공),\n9999 (알수없는 에러)"
      },
      "ResponseMessage": {
        "title": "ResponseMessage",
        "x-stoplight": {
          "id": "vmsrg3uyrskuc"
        },
        "type": "string",
        "description": "응답 코드에 대한 설명 (회원에게 노출용 아님)\n\ncode(0) = 성공, \ncode(9999) = 알 수 없는 에러,\n..."
      },
      "Tag": {
        "title": "Tag",
        "x-stoplight": {
          "id": "gp3odcej1yr4k"
        },
        "type": "object",
        "properties": {
          "tagId": {
            "type": "integer"
          },
          "tagName": {
            "type": "string"
          }
        }
      },
      "Vision": {
        "title": "Vision",
        "x-stoplight": {
          "id": "rpvuv71tertxt"
        },
        "type": "object",
        "examples": [
          {
            "visionId": 77,
            "title": "해외에서 두달 살기",
            "contents": "하와이, 아이와 함께",
            "tags": [
              {
                "tagId": 1,
                "tagName": "하고싶은것"
              },
              {
                "tagId": 10,
                "tagName": "가족"
              }
            ],
            "imgUrl": "https://images.unsplash.com/photo-1648612153876-db4fd5ce1a64?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=927&q=80",
            "createAt": "2022-10-19 14:43:25"
          }
        ],
        "properties": {
          "visionId": {
            "$ref": "#/components/schemas/VisionId"
          },
          "title": {
            "type": "string",
            "description": "비전 제목"
          },
          "contents": {
            "type": "string",
            "description": "비전 상세 설명"
          },
          "tags": {
            "description": "등록된 태그들",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tag"
            }
          },
          "imgUrl": {
            "type": "string",
            "description": "이미지 URL"
          },
          "createTime": {
            "$ref": "#/components/schemas/Time"
          }
        },
        "required": [
          "visionId",
          "imgUrl",
          "createTime"
        ]
      },
      "VisionId": {
        "title": "VisionId",
        "x-stoplight": {
          "id": "ymo0953q1pdgm"
        },
        "type": "integer",
        "description": "비전의 id값",
        "examples": [
          77
        ]
      },
      "Time": {
        "title": "Time",
        "x-stoplight": {
          "id": "9ovpilriqw3o2"
        },
        "type": "string",
        "description": "시간 (YYYY-mm-dd HH:mm:ss)",
        "examples": [
          "2022-12-31 13:00:00"
        ]
      },
      "Date": {
        "title": "Date",
        "x-stoplight": {
          "id": "ojprffqrezdvs"
        },
        "type": "string",
        "description": "날짜 (YYYY-mm-dd)",
        "examples": [
          "2022-12-31"
        ]
      }
    },
    "securitySchemes": {},
    "parameters": {
      "Authorization": {
        "name": "Authorization",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Bearer accessToken"
      },
      "visionId": {
        "name": "visionId",
        "in": "query",
        "required": true,
        "schema": {
          "type": "integer"
        },
        "description": "비전의 id값"
      }
    }
  }
}